---
name: build Nodejs application
on: 
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  job1:
    continue-on-error: true
    strategy:
      matrix: 
       OS: [ubuntu-latest,windows-latest]
    runs-on: ${{matrix.OS}}
    steps:
    - name: Clone the repo
      uses: actions/checkout@v6
      with:
        ref: 'master'  # Optional
    - name: Install Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 18
        cache: npm
    - name: Install node dependencies
      run: npm ci       # alias npm clean install
    - name: Execute test cases
      run: npm test
    - name: Build the Node.js code
      run: npm run build
    - name: upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: distfolder
        path: dist/

